* { 
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   position: fixed;
}

.imgLogo figcaption{
    position: relative;
    top: 0;
 }

.contact_us{
    display: grid;
    grid-template-rows: 15px 1fr 0.2fr;
}

.contact_us p{
    color: #EBFF00;
    font-family: "Buenard";
    font-weight: Bold;
    font-size: 26px;
    text-align: center;
}

.contact_us h2{
    display: inline-block;
}

.contact_us h2 a{
    margin-right: 20px;
}

.imgLogo img{
    position: relative;
    bottom: 30%;
 }

.imgLogo .SGAA figcaption {
    opacity: 1;
    position: relative;
    top: -150px;
    text-align: center;
    font-size: 2.3rem;
    font-family: 'Aldrich', sans-serif;
    color: white;
    box-sizing: border-box;
 }

 main{
    display: block;
    position: absolute;
 }

 .separator2{
   display: none;
 }
 
 .main-contenedor .first-second-contenedor .subtitle h2{
   width: 300px;
   height: 50px;
   padding-top: 0.3em;
   padding-left: 1em;

   background-color: #C7FBF8;
   color: #652384;
   text-align: start;
   border-radius: 8px;
 }

 .subcontenedor{
   border: 2px solid #652384;
   border-radius: 8px;
   font-family: 'Buenard';
   font-size: 30px;
   padding-top: 1.5em;
   margin-top: 0.5em;
   width: 423px;
   height: 400px;
   text-align: left;

   box-shadow: 5px 4px 5px 5px rgba(20, 18, 18, 0.25);
 }

 .main-contenedor .first-second-contenedor .subcontenedor ol{
   list-style: none;
   display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 10px;
      grid-auto-rows: minmax(70px, auto);
 }

 .second-second-contenedor .botones .btnIniciar:hover{
   background-color: #218253;
   border-color: #218253;
   color: #FFFFFF;
}

.second-second-contenedor .botones .btnRegistrate:hover{
   border-color: #0084FF;
   color: #FFFFFF;
   background-color: #0084FF;
}

@media(min-width:768px){
   main .titulo h1{
      position: absolute;
      top: 70px;
      left: 595px;
      color: #FFFFFF;
      border: 1px solid #8A38BE;
      background-color: #8A38BE;
      border-radius: 8px;
      width: 400px;
      height: 49px;
      text-align: center;
      padding: 10px;
      margin: 10px;
      z-index: 1;
      box-shadow: 5px 4px 5px 5px rgba(20, 18, 18, 0.25);
   }
  
   main .titulo{
      display: flex;
      flex-direction: row;
   }
  
   main .titulo img{
      position: absolute;
      top: 98px;
      left: 645px;
   }
  
   .main-contenedor{
      position: absolute;
      top: 20%;
      left: 60em;
      
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      grid-auto-rows: minmax(100px, auto);

      border: 2px solid #652384;
      border-radius: 13px;
      width: 1012px;
      height: 669px;
      background-color: #FFFFFF;
   }

   .first-second-contenedor{
      position: relative;
      top: 5em;
      left: 3em;
   }

   .second-second-contenedor{
      display: grid;
      grid-template-rows: repeat(1, 1fr);
      gap: 10px;
      grid-auto-rows: minmax(100px, auto);
      position: relative;
      top: 4em;
   }

   .second-second-contenedor .botones{
      display: grid;
      grid-template-columns: repeat(2, 1fr 1fr);
      align-items: flex-start;

      position: absolute;
      bottom: 8em;
      left: 5em;

      padding: 10px;

   }

   .second-second-contenedor .botones a{
      border: 2px solid;
      border-radius: 8px;
      text-decoration: none;
      font-family: Buenard;
      font-weight: Bold;
      font-size: 30px;
   }

   .second-second-contenedor .botones .btnIniciar{
      background-color: transparent;
      border-color: #218253;
      color: #218253;
      text-align: center;
      width: 175px;
      height: 45px;
      margin-right: 0.5em;
   }

   .second-second-contenedor .botones .btnRegistrate{
      top: 0px;
      left: 0px;
      text-align: center;
      border-color: #0084FF;
      color: #0084FF;
      background-color: transparent;
      width: 150px;
      height: 45px;
      margin-left: 0.5em;
   }

}

@media(max-width:1757px){
   .main-contenedor{
      position: absolute;
      top: 20%;
      left: 47em;
   }

   main .titulo img{
      position: absolute;
      top: 98px;
      left: 515px;
   }

   main .titulo h1{
      position: absolute;
      top: 70px;
      left: 465px;
   }
}

@media(max-width:1620px){

   .menuAside{
      position: fixed;
   }

   .main-contenedor{
      position: absolute;
      top: 20%;
      left: 37em;

   }

   main .titulo img{
      position: absolute;
      top: 98px;
      left: 415px;
   }

   main .titulo h1{
      position: absolute;
      top: 70px;
      left: 360px;
   }
}

@media(max-width:1366px){
   .main-contenedor{
      position: absolute;
      top: 7em;
      left: 31em;

      transform: scale(0.75);
   }

   main .titulo img{
      position: absolute;
      top: 52px;
      left: 345px;
      transform: scale(0.75);
   }

   main .titulo h1{
      transform: scale(0.75);
      position: absolute;
      top: 1em;
   }

   .imgLogo figcaption{
      transform: scale(0.75);
      top: -1em;
   }

   .imgLogo h2{
      position: relative;
      top: -1.5em;
   }

   .logoITJ{
      position: relative;
      bottom: 10em;
   }
  
  .contact_us p{
   transform: scale(0.85);
  }
  
  .imgLogo img{
   transform: scale(0.65);
   }

   .imgLogo .SGAA figcaption {
      transform: scale(0.85);
      position: absolute;
      top: 21em;
      right: 1.6em;
      }
}

@media(max-width:1280px){
   .main-contenedor{
      position: absolute;
      top: 7em;
      left: 31em;

      transform: scale(0.75);
      
   }

   .menuAside{
      height: 100vh;
   }

   main .titulo img{
      position: absolute;
      top: 52px;
      left: 345px;
      transform: scale(0.75);
   }

   main .titulo h1{
      transform: scale(0.75);
      position: absolute;
      top: 1em;
   }

   .imgLogo figcaption{
      transform: scale(0.75);
      top: -1em;
   }

   .imgLogo h2{
      position: relative;
      top: -1.5em;
   }

   .logoITJ{
      position: relative;
      bottom: 10em;
   }
  
  .contact_us p{
   transform: scale(0.85);
  }
  
  .imgLogo img{
   transform: scale(0.65);
   }
  
  .imgLogo .SGAA figcaption {
   transform: scale(0.85);
   position: absolute;
   top: 21em;
   right: 1.6em;
   }
}
@media(max-width:1024px){
   .menuAside{
      transform: scale(0.75);
      position: relative;
      bottom: 10em;
      right: 4.5em;
   }

   .main-contenedor{
      position: absolute;
      top: 0;
      left: 3.6em;

      transform: scale(0.50);
   }

   main .titulo img{
      position: absolute;
      top: 72px;
      left: 58px;
      transform: scale(0.50);
   }

   main .titulo h1{
      transform: scale(0.65);
      position: absolute;
      top: 1.5em;
      left: 7.2em;
   }

   .imgLogo img{
      transform: scale(0.75);
      top: -9em;
   }

   .imgLogo figcaption{
      transform: scale(0.75);
      top: -5em;
   }

   .imgLogo h2{
      position: relative;
      top: -4em;
   }

   .logoITJ{
      position: relative;
      bottom: 10em;
   }
  
  .contact_us p{
   transform: scale(0.85);
  }
  
  .imgLogo img{
   transform: scale(0.65);
   }

   .imgLogo .SGAA figcaption {
      transform: scale(0.85);
      position: absolute;
      top: 21em;
      right: 1.6em;
      }
   
}

@media(max-width:390px){
   main .titulo h1{
      visibility: hidden;
   }

   main .titulo h1::before{
      content: "Sistema Gestor de Asesorias";
      visibility: visible;

      position: absolute;
      top: -5.5em;
      left: 2.6em;
      color: #FFFFFF;
      border: 1px solid #8539B6;
      background-color: #8539B6;
      border-radius: 8px;
      width: 320px;
      height: 49px;
      text-align: center;
      padding: 10px;
      margin: 10px;
      z-index: 1;
      box-shadow: 5px 4px 5px 5px rgba(20, 18, 18, 0.25);
   }
  
   main .titulo{
      display: flex;
      flex-direction: row;
   }

   .separator2{
      display: flex;
      width: 25em;
      height: 2.5em;
   }

   main .titulo img {
      position: absolute;
      top: -2em;
      left: 32em;
      transform: scale(0.50);
  }
  
   main .titulo .separator1{
      display: none;
   }
  
   .main-contenedor{
      position: absolute;
      top: 6em;
      left: 18.5em;
      
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      grid-auto-rows: minmax(100px, auto);

      border: 2px solid #652384;
      border-radius: 13px;
      width: 334px;
      height: 540px;
      background-color: #FFFFFF;
      transform: scale(0.97);
   }

   .first-second-contenedor .subcontenedor{
      position: relative;
      top: 8.7em;
      left: 1.5em;

      width: 240px;
      height: 175px;
   }

   .main-contenedor .first-second-contenedor .subtitle{
      position: absolute;
      bottom: 26.5em;
      left: 4.6em;
   }

   .main-contenedor .first-second-contenedor .subtitle h2{
      width: 183px;
      height: 26px;
   }

   .main-contenedor .first-second-contenedor .subcontenedor ol{
      transform: scale(0.5);
      position: relative;
      bottom: 3.7em;
      right: 1.3em;
   }

   .main-contenedor .first-second-contenedor .subcontenedor li{
      width: 280px;
   }

   .second-second-contenedor{
      display: grid;
      grid-template-rows: repeat(1, 1fr);
      gap: 10px;
      grid-auto-rows: minmax(100px, auto);
      position: relative;
      top: 4em;
      right: 1em;
   }

   .second-second-contenedor img{
      position: relative;
      bottom: 2em;
      right: 17em;
      width: 200px;
      height: 200px;
   }

   .second-second-contenedor .botones{
      display: grid;
      grid-template-columns: repeat(2, 1fr 1fr);
      align-items: flex-start;

      position: absolute;
      bottom: 8em;
      left: 5em;

      padding: 10px;

   }

   .second-second-contenedor .botones a{
      border: 2px solid;
      border-radius: 8px;
      text-decoration: none;
      font-family: Buenard;
      font-weight: Bold;
      font-size: 16px;
   }

   .second-second-contenedor .botones .btnIniciar{
      visibility: hidden;
   }

   .second-second-contenedor .botones .btnIniciar::before{
      content: "Ingresa";
      visibility: visible;
      border-radius: 5px;
      /* box-shadow: 2px 4px 5px 2px rgba(20, 18, 18, 0.25); */
      background-color: #0094FF;
      border-color: #0094FF;
      color: #FFFFFF;
      text-align: center;
      width: 132px;
      height: 30px;
      position: absolute;
      top: 3em;
      right: 13em;
   }

   .second-second-contenedor .botones .btnIniciar:hover::before{
      background-color: #0095ff70;
      border-color: #652384;
      color: #652384;
   }

   /* .second-second-contenedor .botones .btnIniciar{
      background-color: #0094FF;
      border-color: #0094FF;
      color: #FFFFFF;
      text-align: center;
      width: 132px;
      height: 30px;
      position: absolute;
      right: 5em;
   }

   .second-second-contenedor .botones .btnIniciar:hover{
      background-color: transparent;
      border-color: #0094FF;
   } */

   .second-second-contenedor .botones .btnRegistrate{
      display: none;
   }



   footer {
      display: flex;
      position: relative;
      bottom: 11em;
   }

   footer .redes{
      position: relative;
      top: 4.5%;
   }

   footer .redes p{
      padding: 0;
      margin: 0;
      font-weight: 500;
   }

   footer .contacto p{
      padding: 0;
      margin: 0;
      font-weight: 500;
   }
}