*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Buenard', serif;
}
body,html{
    width: 100%;
    height: 100%;
}
body{
    display: grid;
    grid-template-rows: 55px 2fr 55px;
}
aside{
    display: none;
}
.content_aside{
    position: sticky;
    top: 0;
}

:root{
    --fondo:#E8F5FF;
    --barraAside: #2311C4;
    --fondoTec:#DAA0FF;
    --blueComments: #0094FF;
    --morado1:#9F1FF0;
    --morado2:#8539B6;
    --cardborder:#652384;
    --grisSugerir:#5F5E5E;
    --sombra: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --btnAceptar:#1AA438;
    --btnCancelar:#DD1313;
    --avisos:#FBF0F0;
}

header{
width: 100%;
height: 6vh;
background-color: var(--barraAside);
display: grid;
grid-template-columns: 124px 1fr 0.5fr;

}

header .logoTecNM{
    display: flex;
    align-items: center;
    
}

header .logoTecNM figcaption{
color: white;
font-family: 'Buenard', serif;
font-size: 1.1rem;
background-color:var(--morado1) ;
border-radius: 2px;
border-top: 1px solid white;
border-right: 1px solid white;
border-bottom: 1px solid white;

}

header .logoTecNM img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--morado1);
    border: 1px  solid white;

}

header .logoHalcon{
    color: white;
    font-family: 'Aldrich', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header .logoHalcon img{
    width: 30px;
    height: 30px;
    
}
.head_botones{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    
}
.head_botones a:nth-child(1) img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
    
}
.head_botones a:nth-child(2) img{
    margin-right: 10px;
    cursor: pointer;
    
}
.menu_mobile{
    
    position: absolute;
    top: 0px;
    background-color: var(--barraAside);
    width: 180px;
    height: 100vh;
    display: flex;
    flex-direction: column;
   justify-content:flex-start;
   gap:20px;
   border-radius: 3px;
   z-index: 1;
   box-shadow: var(--sombra);
   
}
.menu_mobile p{
    color: white;
    font-weight: 600;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: var(--blueComments);
    height: 40px;
    box-shadow: var(--sombra);
    padding: 10px;
}
.menu_mobile li{
    box-shadow: var(--sombra);
}
.notificaciones{
    position: absolute;
    top: 60.5px;
    background-color: var(--barraAside);
    width: 150px;
    height: 87.6vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
   border-radius: 2px;
   z-index: 1;
}

.notificaciones div{
    width: 96%;
    background-color: var(--avisos);
    display: flex;
    flex-direction: column;
    border-radius: 2px ;
    text-align: center;
    border: 1px solid white;
    box-shadow: var(--sombra);
    font-size: 1.3rem;
    font-weight: 500;
    box-shadow: var(--sombra);
    border-radius: 3px;
}
.notificaciones p:nth-child(1){
    color: white;
    font-weight: 600;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--blueComments);
    height: 35px;
    width: 145px;
    box-shadow: var(--sombra);
    padding: 10px;
}

.notificaciones div img{
    width: 25px;
    height: 25px;
    align-self: center;
}
.notificaciones input{
    align-self: flex-end;
    width: 65px;
    height: 22px;
    color: whitesmoke;
    background-color: var(--fondoTec);
    border: 1px solid white;
    box-shadow: var(--sombra);
    border-radius: 3px;

}

.opacar{
    opacity: 0.5;
}
nav {
    margin: 0 auto;
    /* margin-top: 6rem; */
    width: 90%;
    border-radius: 16px;
    margin-top: 10px;
  

}
nav ul li:hover{
background-color:var(--fondoTec);


}
nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 2.5rem;
}
nav ul li {
    width: 12rem;
    height: 3rem;
    
    border-bottom: 1px solid white;
    border-radius: 5px;
    text-align: center;
}
nav ul li a{
    color: white;
    font-size: 1.6rem;
    text-decoration: none;
    text-align: center;
}
nav ul li a img{
    width: 20px;
    height: 20px;
    margin-top: 4px;
    margin-right: 4px;
    
}

/*Estilos footer -----------------------------------*/
footer{
    width: 100%;
    height: 100%;
    background-color: var(--barraAside);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .redes p{
    color:  white;
    font-size: 1.4rem;
    text-align: center;
}
footer .redes img{
    width: 23px;
    height: 23px;
    
}
footer .redes figure img{
    margin-right: 5px;
}



footer .contacto{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
footer .contacto div{
    display: flex;
    align-items: center;
    
} 
footer .contacto p{
    color: white;
    font-size: 1.4rem;

}
footer .contacto div p {
font-size: 1.0rem;
font-weight: bold;
color: var(--blueComments);
}

@media(min-width:768px) {
    header{
        display: none;
    }
    h2{
        /*  margin-top: 2.4rem; */
         font-size: 1.6rem;
         text-align: center;
         background-color: var(--fondoTec);
         color: white;
         box-shadow: 5px 4px 5px rgba(20, 18, 18, 0.25);
     
     }
     body{
         display: grid;
         grid-template-columns: 180px 1fr;
     }
     aside{
         background-color: var(--barraAside);
         display: flex;
         flex-direction: column;
        justify-content: space-evenly;
     }
     .content_aside{
        display: grid;
        grid-template-rows: 25px 1fr 1fr 1fr;
        height: 100vh;
        row-gap: 40px;
     }
     aside{
        background-color: var(--barraAside);
        width: 100%;
        height: 100vh;
        display: flex ;
        flex-direction: column;
     }
     main{
         background-color: var(--fondo);
         height: 100vh;
     }
     
     .imgLogo{
         display: flex;
         flex-direction: column;
         align-items: center;
         /* margin-top: 3rem; */
     }
     .imgLogo img{
         width: 70px;
         height: 70px;
         margin-bottom: 5px;
     }
     .imgLogo figcaption{
         
         font-size: 1.6rem;
         font-family: 'Aldrich', sans-serif;
         color: white;
     }
     
     nav {
         margin: 0 auto;
         /* margin-top: 6rem; */
         width: 70%;
         border-radius: 16px;
         border-top: 3px solid white;
         border-bottom:3px solid white;
         padding-top: 2rem;
         padding-bottom: 2rem;
     
     }
     nav ul li:hover{
     background-color:var(--fondoTec);
     
     
     }
     nav ul{
         display: flex;
         flex-direction: column;
         align-items: center;
         list-style: none;
         gap: 3.5rem;
     }
     nav ul li {
         width: 13rem;
         height: 3.5rem;
         border: 1px solid white;
         border-radius: 5px;
         text-align: center;
         box-shadow: var(--sombra);
     }
     nav ul li a{
         color: white;
         font-size: 1.8rem;
         text-decoration: none;
         text-align: center;
     }
     nav ul li a img{
         width: 20px;
         height: 20px;
         margin-top: 4px;
         margin-right: 4px;
         
     }
     .Our_Networks{
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 0.5rem;
         
     
     }
     .Our_Networks p{
         color:white;
         font-size: 1.6rem;
     
     }
     .Our_Networks img{
         width: 25px;
         height: 25px;
     }
     
     .Our_Networks .figimg {
        display:grid;
         grid-template-columns: repeat(4,1fr);
         gap: 1.2rem
         ;
     }
    footer{
        display: none;
    }
}

/* Estilos para tableta */
@media(min-width:1024px){
    body{
        display: grid;
        grid-template-columns: 220px 1fr;
    }
header{
    display: none;
}
footer {
    display: none;
}
}
.inactive{
    display: none;
}