*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popping',sans-serifx;
}
/*body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #E8F5FF;
}
*/
.Mediobody{
    padding: 50px;
    background-color: #E8F5FF;
    overflow: auto;
}
.container {
    max-width: 700px;
    width: 100%;
    background:#ffff ;
    padding: 25px 30px;
    border-radius: 5px;
    margin: auto;
   
}
.container .titulo{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.container .titulo::before{
    content:'';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: #6915C4;

}

.container .categori{
    font-size: 20px;
    font-weight: 500;
    position: relative;
}
.gender-details{
    max-width: 700px;
    width: 100%;
    background:#ffff ;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 2px 7px 12px gray; 
    margin-bottom: 10px;
}
.user-details{
    padding: 20px;
}

form .gender-details .gender-titel{
    font-size: 25px;
    font-weight: 600px;
}
form .gender-details .category{
    display: flex;
    width: 100%;
    margin: 10px 0;
    justify-content: space-between;
}
.gender-details .category label{
    display: flex;
    align-items: center;
}
.gender {
    font-size: 20px;
    font-weight: 300;
}
.gender-details .category .dot{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0,3s ease;
}
#dot-1:checked ~ .category label .uno,
#dot-2:checked ~ .category label .dos,
#dot-3:checked ~ .category label .tres,
#dot-4:checked ~ .category label .cuatro{
    border-color: #d9d9d9;
    background: #9d59b6;
}
#dot-5:checked ~ .category label .n5,
#dot-6:checked ~ .category label .n6,
#dot-7:checked ~ .category label .n7,
#dot-8:checked ~ .category label .n8{
    border-color: #d9d9d9;
    background: #9d59b6;
}
#dot-9:checked ~ .category label .n9,
#dot-10:checked ~ .category label .n10,
#dot-11:checked ~ .category label .n11,
#dot-12:checked ~ .category label .n12{
    border-color: #d9d9d9;
    background: #9d59b6;
}
#dot-13:checked ~ .category label .n13,
#dot-14:checked ~ .category label .n14,
#dot-15:checked ~ .category label .n15,
#dot-16:checked ~ .category label .n16
{
    border-color: #d9d9d9;
    background: #9d59b6;
}
#dot-17:checked ~ .category label .n17,
#dot-18:checked ~ .category label .n18,
#dot-19:checked ~ .category label .n19,
#dot-20:checked ~ .category label .n20{
    border-color: #d9d9d9;
    background: #9d59b6;
}
#dot-21:checked ~ .category label .n21,
#dot-22:checked ~ .category label .n22,
#dot-23:checked ~ .category label .n23,
#dot-24:checked ~ .category label .n24{
    border-color: #d9d9d9;
    background: #9d59b6;
}
#dot-25:checked ~ .category label .n25,
#dot-26:checked ~ .category label .n26,
#dot-27:checked ~ .category label .n27,
#dot-28:checked ~ .category label .n28{
    border-color: #d9d9d9;
    background: #9d59b6;
}
#dot-29:checked ~ .category label .n29,
#dot-30:checked ~ .category label .n30,
#dot-31:checked ~ .category label .n31,
#dot-32:checked ~ .category label .n32{
    border-color: #d9d9d9;
    background: #9d59b6;
}
form input[type="radio"]{
    display: none;
}
form input[type="text"]{
    height: 50px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    padding-left: 15px;
    size: 20px;
}
form .button{
    height: 45px;
    width: 45px 0;
}
form .button input{
    height: 100%;
    width: 100%;
    outline: invert;
    color: #ffffff;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    background-color: #9d59b6;
    border: #d9d9d9;
}
form .button input:hover{
    background-color:#7a3c91;
}
@media (max-width:300px )
{
  
    form .gender-details .category{
        display:flow-root;
    }
}