
:root{
    --fondo:#E8F5FF;
    --barraAside: #2311C4;
    --fondoTec:#DAA0FF;
    --blueComments: #0094FF;
    --morado1:#9F1FF0;
    --morado2:#8539B6;
    --cardborder:#652384;
    --grisSugerir:#5F5E5E;
    --sombra: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --btnAceptar:#1AA438;
    --btnCancelar:#DD1313;
    --avisos:#FBF0F0;
} 

.usuario{
    justify-self: flex-start;
    border: 2px solid var(--morado1);
    width: 200px;
    height: 60px;
    border-radius: 3px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.4rem;
    background-color: white
}
.usuario span{
    font-weight: 600;
    text-align: justify;
}
.usuario p{
    margin-bottom: 3px;
}
.usuario img{
    width: 40px;
    height: 40px;
    border: 2px solid var(--blueComments);
    border-radius: 3px;
}
/* Contenedores main y section ----------------------------------------------------- */

main{
display: grid;
grid-auto-columns: 1fr;
grid-template-rows: 80px 1fr ;

}
section{
    width: 100%;
    display:  grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 80px repeat(2,1fr);
    justify-items: center;
    align-items: center;

}

/* Lo mas votado */
article{
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    align-items: center;
    margin-top: 10px;
    gap: 0.8rem;
}
article p:nth-child(1){
    color: var(--blueComments);
    font-weight: 600;
}
.Mas_Sugeridos div:nth-child(2) .msj{
    
display: flex;
width: 80%;
align-items: center;

}
.Mas_Sugeridos div:nth-child(2) .msj img{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.cuerpo{
    display: flex;
    border-bottom: 1px solid var(--cardborder);
    border-radius: 5px;
    width: 95%;

}
.cuerpo div:nth-child(1){
width: 90%;
}
.cuerpo div:nth-child(2){
    display: flex;
    width: 20%;
   align-items: center;
   justify-content: space-around;
   

}
.cuerpo div:nth-child(2) img{
    
    width: 20px;
    height: 20px;
}
.cuerpo div:nth-child(2) p{
    width: 1.8rem;
    height: 1.8rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--blueComments);
    border: 1px solid var(--blueComments);
    border-radius: 8px;
    background-color: white;
    text-align: center;
    padding-top: 1px;
}
.btnsAdmin{
    display: flex;
    gap: 30px;
}
.btnsAdmin img{
width: 20px;
height: 20px;
}
.btnsAdmin button{
    width: 130px;
    height: 35px;
    background-color: var(--blueComments);
    border:1px solid white;
    box-shadow: var(--sombra);
    text-align: center;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    font-style: italic;
}
.btnsAdmin button:hover{
    background-color: #0095ff8e;
}
.Mas_Sugeridos{
    width: 90%;
    background-color: white;
    border: 1px solid var(--blueComments);
    height: 90%;
    border-radius: 5px;
    box-shadow: var(--sombra);
    overflow-y: scroll;
    overscroll-behavior-y: contain;
    scroll-snap-type:  y proximity;
}

.Mas_Sugeridos >p{
    width: 100%;
    background-color: var(--blueComments);
    height: 25px;
    box-shadow: var(--sombra);
    text-align: center;
    color: white;
    font-size: 1.6rem;
}
/* Asesorias Activas */
.Asesorias_Activas{
    background-color: white;
    border: 1px solid var(--blueComments);
    width: 90%;
    border-radius: 8px;
    box-shadow: var(--sombra);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    height: 100%;
}
.Asesorias_Activas >p{
    background-color: var(--blueComments);
    text-align: center;
    height: 25px;
    font-size: 1.6rem;
    color: white;
    border-radius: 5px;
    box-shadow: var(--sombra);
    width: 100%;
    
}

.Asesorias_Activas div{
    border: 1px solid rgb(125, 118, 118);
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.4rem;
    width: 95%;
    height: 40px;
    box-shadow: var(--sombra);
}
.Asesorias_Activas button{
    background-color: var(--blueComments);
    width: 60px;
    height: 21px;
    color: white;
    font-size: 1.2rem;
    font-weight: bolder;
    box-shadow: var(--sombra);
    border: 1px solid white;
    border-radius: 3px;
}


.Asesorias_Activas figure img{
    width: 22px;
    height: 22px;
}
.Asesorias_Activas figure {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

}

/* Modificaciones ------------ */
.modificaciones {
    width: 90%;
    height: 90%;
    background-color: white;
    border: 1px solid var(--blueComments);
    border-radius: 8px;
    overflow-y: scroll;
    overscroll-behavior-y: contain;
    scroll-snap-type:  y proximity;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    
}
.modificaciones form{
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    gap: 10px;
    
}
.modificaciones form label{
    display: flex;
    gap: 10px;
    flex-direction: column;
    
}
.modificaciones form input{
    width: 150;
    height: 22px;
    border: none;
    box-shadow: var(--sombra);
}
.modificaciones >p{
    width: 100%;
    height: 20px;
    text-align: center;
    background-color: var(--blueComments);
    border-radius: 5px;
    color: white;
    font-size: 1.8rem;
}
@media (min-width:1024px){
main{
    grid-template-rows: repeat(5,1fr);
}
}
