:root{
    --fondo:#E8F5FF;
    --barraAside: #2311C4;
    --fondoTec:#DAA0FF;
    --blueComments: #0094FF;
    --morado1:#9F1FF0;
    --morado2:#8539B6;
    --cardborder:#652384;
    --grisSugerir:#5F5E5E;
    --sombra: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --btnAceptar:#1AA438;
    --btnCancelar:#DD1313;
    --avisos:#FBF0F0;
}



/*------------------Estilos Toggle Button-----------------------------*/

.content_toggle p{
    font-size: 1.2rem;
    font-weight: bold;
    font-style: italic;
    color: var(--barraAside);
    background-color: white;
    border-radius: 3px;
    /* box-shadow: var(--sombra); */
    margin-bottom: 4px;
}
#toggle{
    position: relative;
    display: block;
    width: 100px;
    height: 30px;
    border-radius: 140px;
    background: #2222;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
                inset 0 8px 8px  rgba(0,0,0,0.1),
                inset 0 -4px 4px rgba(0,0,0,0.1);
}
#toggle.active{
    background: #fff;
    background: linear-gradient(to bottom, #fff, rgb(116, 151, 193));
    box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.1),
                inset 0 2px 8px rgba(0,0,0,0.1),
                inset 0 -4px 4px rgba(0,0,0,0.05);
}
#toggle .indicador
{
list-style: none;
position: absolute;
top: 0;
left: 0;
width: 30px;
height: 30px;
background: linear-gradient(to bottom, rgb(58, 173, 223), var(--barraAside));
border-radius: 50%;
transform: scale(0.9);
box-shadow: 0 8px 40px rgba(0,0,0,0.5),
            inset 0 4px 4px rgba(255,255,255,0.2),
            inset 0 -4px 4px rgba(255,255,255,0.2);
transition: 0.5s;

}
/* Mensajes ---------------------------------------------- */
.conten_msj{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--fondo);
    border-radius: 6px;
    border: 1px solid var(--blueComments);
    position: absolute;
    width: 80%;
    height: 120px;
    top: 290px;
    left: 30px;
}
.conten_msj .cuerpo_msj{
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--avisos) ;
    box-shadow: var(--sombra);
    
}
.conten_msj .cuerpo_msj p{
    font-size: 1.6rem;
    font-weight: bold;
}
.conten_msj .cuerpo_msj img{
    width: 30px;
    height: 30px;
}

.conten_msj .botones {
  display: flex;
  gap: 40px;
}
.conten_msj .botones input{
    border-radius: 3px;
    height: 25px;
    width: 75px;
    border: 1px solid white;
    box-shadow: var(--sombra);
    color: white;
    background-color: var(--btnAceptar);
}
.conten_msj .botones input:nth-child(2){
    background-color: var(--btnCancelar);
}
.btnACCFF{
    width: 120px;
    border-radius: 3px;
    height: 25px;
    border: 1px solid white;
    box-shadow: var(--sombra);
    color: white;
    background-color: var(--btnAceptar);
}
/* Estilos a la tabla ------------------------------------------ */
#toggle.active .indicador{
    left: 70px;
    background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
    box-shadow: 0 8px 20px rgba(0,0,0,0.1),
            inset 0 4px 4px rgba(255,255,255,1),
            inset 0 -4px 4px rgba(255,255,255,1);
    transition: 0.15s;
}

.tabla_horarios{
align-self: flex-start;
background-color: #73bdee;
border: 1px solid var(--blueComments);
border-radius: 3px;
width: 98%;
box-shadow: var(--sombra);
}
.tabla_horarios table{
    border-spacing: 5px;
    
}
.tabla_horarios thead{
    background-color: white;
    font-size: .9rem;
    height: 20px;
    
    
}
.tabla_horarios tbody{
background-color: white;

}
.tabla_horarios td{
    height: 80px;
    width: 10%;
    border: 1px solid var(--blueComments);
    border-radius: 3px;
    
}
.tabla_horarios td p{
    font-size: .8rem;
    text-align: center;
}

/*Estilos Tarjetas ---------------------------------------------------*/
.frmdat{
background-color: #9ed5fcec;
border: 1px solid var(--blueComments);
height: 400px;
border-radius: 5px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 20px;

}
.frmdat form{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 15px;;
}
.frmdat input[type="search"]{
    border-radius: 3px;
    width: 60%;
    height: 20px;
    border: none;
    text-align: center;
    box-shadow: var(--sombra);
}

.frmdat input[type="button"]{
    width: 70px;
    height: 22px;
    border:  2px solid white;
    background-color: var(--blueComments);
    border-radius: 5px;
    color: white;
    font-weight: bold;
    box-shadow: var(--sombra);
}
.frmdat .botones{
    display: flex;
    gap: 35px;
}
.frmdat .botones input[type="button"]:nth-child(1){
    background-color: var(--btnAceptar);
}
.frmdat .botones input[type="button"]:nth-child(2){
    background-color: var(--btnCancelar);
}
.frmdat .res_Bus{
    gap: 15px;
    box-shadow: var(--sombra);
    width: 100%;
}
.frmdat .showBusq{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.frmdat .botones #btnCloseBusc{
    
    background-color: var(--btnCancelar);
    width: 100px;
}

.frmdat .res_Bus{
    display: flex;
    align-items: center;
    background-color: white;
    gap: 15px;
    border: 1px solid var(--blueComments);
    border-radius: 3px;
}


.frmdat img{
    width: 18px;
    height: 18px;
}
/* Estilos a la tarjeta usuarios ------------------------------------ */
.usuario{
    justify-self: flex-start;
    border: 2px solid var(--morado1);
    width: 200px;
    height: 60px;
    border-radius: 3px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.4rem;
    background-color: white
}
.usuario span{
    font-weight: 600;
    text-align: justify;
}
.usuario p{
    margin-bottom: 3px;
}
.usuario img{
    width: 40px;
    height: 40px;
    border: 2px solid var(--blueComments);
    border-radius: 3px;
}
main{
    width: 100%;
    display: grid;
    grid-template-rows:100px 150px 3fr;
    grid-template-columns: 98%;
    background-color: var(--fondo);
    justify-items: center;
    align-items: center;
}
.multi_cards{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    grid-template-rows: 20px 1fr;
    gap: 35px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type:  x proximity;

}

.multi_cards p{
    align-self: center;
    justify-self: center;
    grid-column: 1/4;
}
.zona_tarjetas{
   
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 50px;
    margin-left: 5px;
    margin-bottom: 5px;
    /* display: none; */
    
}
.zona_tarjetas .separador{
    background-color: var(--morado1);
    display: inline-block;
    width: 30%;
    height: 22px;
    text-align: center;
    color: white;
    font-size: 1.6rem;
    box-shadow: var(--sombra);
    border: 2px solid white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.zona_tarjetas .one_card{
min-width: 170px;
max-width: 180px;
background-color: white;
height: 160px;
border-radius: 10px;
border: 1px solid var(--cardborder);
box-shadow: var(--sombra);
display: flex;
flex-direction: column;
justify-content: space-around;
scroll-snap-align: center;



}
.zona_tarjetas .one_card img{
width: 20px;
height: 20px;
border-radius: 20px;
border: 1px solid var(--morado2);

}
.zona_tarjetas .one_card figure img{
    border:  none;
    width: 16px;
    height: 16px;
}
.zona_tarjetas .one_card .titulo_asesoria{
    display: flex;
    align-items: center;
    margin-left: 3px;
}
.zona_tarjetas .one_card .titulo_asesoria p{
    font-size: 1.1rem;
    font-weight: bolder;
    border-top: 1px solid var(--morado2);
    border-bottom: 1px solid var(--morado2);
    border-right: 1px solid var(--morado2);
    border-radius: 4px;
    width: 100px;
    text-align: center;
}
.zona_tarjetas .one_card .datos_asesoria,.hora_asesoria{
    font-size: 1.2rem;
}
.zona_tarjetas .one_card .datos_asesoria{
    margin: 0 auto;
}
.zona_tarjetas .one_card .datos_asesoria p{
    margin-bottom: 2px;
}
.zona_tarjetas .one_card .datos_asesoria span{
    color: var(--blueComments);
    font-weight: 500;
    
}
.zona_tarjetas .one_card .hora_asesoria{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.1rem;
    font-weight: 500;
    justify-content: space-evenly;
    gap: 5px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.zona_tarjetas .one_card .hora_asesoria p{
    width: 80px;
    background-color: lightgray;
    border-radius: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.zona_tarjetas .one_card .valor_prog{

    display: flex;
    justify-content: space-around;
}
.zona_tarjetas .one_card .valor_prog p{
    font-size: 1.2rem;
    font-weight: bolder;
    color: var(--blueComments);
}
.inactivo{
    display: none;
}

@media (min-width:768px){

.conten_msj {
    width: 320px;
}
.frmdat{    
    width: 90%;
    height: 100%;
}
.frmdat .res_Bus{
    
font-size: 1.6rem;
height: 45px;
}
    .multi_cards{
        justify-items: center;
       
     }
.multi_cards{
    overflow-x: auto;
    
}
.zona_tarjetas {
    margin-left: 8px;
}
.zona_tarjetas .one_card{
    min-width: 210px;
    max-width: 220px;
    background-color: white;
    height: 190px;
    border-radius: 10px;
    border: 1px solid var(--cardborder);
    box-shadow: var(--sombra);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    scroll-snap-align: center;
    
    
    
    }
    .zona_tarjetas .one_card img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid var(--morado2);
    
    }
    .zona_tarjetas .one_card figure img{
        border:  none;
        width: 16px;
        height: 16px;
    }
    .zona_tarjetas .one_card .titulo_asesoria{
        display: flex;
        align-items: center;
        margin-left: 3px;
    }
    .zona_tarjetas .one_card .titulo_asesoria p{
        font-size: 1.4rem;
        font-weight: bolder;
        border-top: 1px solid var(--morado2);
        border-bottom: 1px solid var(--morado2);
        border-right: 1px solid var(--morado2);
        border-radius: 4px;
        width: 160px;
        height: 20px;
        text-align: center;
    }
    .zona_tarjetas .one_card .datos_asesoria, .hora_asesoria{
        font-size: 1.5rem;
    }
    .zona_tarjetas .one_card .datos_asesoria{
        margin: 0 auto;
    }
    .zona_tarjetas .one_card .datos_asesoria p{
        margin-bottom: 2px;
    }
    .zona_tarjetas .one_card .datos_asesoria span{
        color: var(--blueComments);
        font-weight: 500;
        
    }
    .zona_tarjetas .one_card .hora_asesoria{
        display: flex;
        flex-wrap: wrap;
        font-size: 1.4rem;
        font-weight: 500;
        justify-content: space-evenly;
        gap: 5px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
    .zona_tarjetas .one_card .hora_asesoria p{
        width: 95px;
        background-color: lightgray;
        border-radius: 4px;
        margin-top: 2px;
        margin-bottom: 2px;
    }
    .zona_tarjetas .one_card .valor_prog{
    
        display: flex;
        justify-content: space-around;
    }
    .zona_tarjetas .one_card .valor_prog p a{
        font-size: 1.5rem;
        font-weight: bolder;
        color: var(--blueComments);
        text-decoration: none;
    }

    .zona_tarjetas .one_card .valor_prog img{
        width: 18px;
        height: 18px;
    }
    .zona_tarjetas #inscribirme{
        left: 300px;
    }
}

@media (min-width:1024px){

.frmdat {
    width: 40%;
}
.zona_tarjetas .separador{
    background-color: var(--morado1);
    display: inline-block;
    width: 25%;
    height: 30px;
    text-align: center;
    color: white;
    font-size: 2.5rem;
    box-shadow: var(--sombra);
    border: 2px solid white;
    margin-top: 10px;
    margin-bottom: 10px;

}
.zona_tarjetas {
    margin-left: 8px;
}
.zona_tarjetas .one_card{
    min-width: 260px;
    max-width: 280px;
    background-color: white;
    height: 260px;
    border-radius: 10px;
    border: 1px solid var(--cardborder);
    box-shadow: var(--sombra);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    scroll-snap-align: center;
    }
    .zona_tarjetas .one_card img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--morado2);
    
    }
    .zona_tarjetas .one_card figure img{
        border:  none;
        width: 16px;
        height: 16px;
    }
    .zona_tarjetas .one_card .titulo_asesoria{
        display: flex;
        align-items: center;
        margin-left: 3px;
    }
    .zona_tarjetas .one_card .titulo_asesoria p{
        font-size: 1.8rem;
        font-weight: bolder;
        border-top: 1px solid var(--morado2);
        border-bottom: 1px solid var(--morado2);
        border-right: 1px solid var(--morado2);
        border-radius: 4px;
        width: 160px;
        height: 25px;
        text-align: center;
    }
    .zona_tarjetas .one_card .datos_asesoria, .hora_asesoria{
        font-size: 1.9rem;
    }
    .zona_tarjetas .one_card .datos_asesoria{
        margin: 0 auto;
    }
    .zona_tarjetas .one_card .datos_asesoria p{
        margin-bottom: 2px;
    }
    .zona_tarjetas .one_card .datos_asesoria span{
        color: var(--blueComments);
        font-weight: 500;
        
    }
    .zona_tarjetas .one_card .hora_asesoria{
        display: flex;
        flex-wrap: wrap;
        font-size: 1.8rem;
        font-weight: 500;
        justify-content: space-evenly;
        gap: 5px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
    .zona_tarjetas .one_card .hora_asesoria p{
        width: 120px;
        background-color: lightgray;
        border-radius: 4px;
        margin-top: 2px;
        margin-bottom: 2px;
    }
    .zona_tarjetas .one_card .valor_prog{
    
        display: flex;
        justify-content: space-around;
    }
    .zona_tarjetas .one_card .valor_prog p a{
        font-size: 1.7rem;
        font-weight: bolder;
        color: var(--blueComments);
        text-decoration: none;
    }

    .zona_tarjetas .one_card .valor_prog img{
        width: 22px;
        height: 22px;
        color: #7909ba;
    }
    
    main {
        justify-content: center;
        
    }
    .tabla_horarios table{
       width: 100%;
    }
    .tabla_horarios table thead{
        font-size: 1.6rem;
    }
    .tabla_horarios table td p{
        font-size: 1.4rem;
    }
}