*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Buenard', serif;
    
}
body,html{
    width: 100%;
    height: 100%;
}
body{
    display: grid;
    grid-template-rows: 60px 2fr 60px;
}

aside{
    display: none;
}
.content_aside {
    position: sticky;
    top: 0;
}

:root{
    --fondo:#E8F5FF;
   /*  --barraAside:#7F19AE; */
   /* --barraAside: #6915C4; */
   --barraAside: #2311C4;
   --menuMob:#5546dd;
    --fondoTec:#DAA0FF;
    --blueComments: #0094FF;
    --morado1:#9F1FF0;
    --morado2:#8539B6;
    --cardborder:#652384;
    --grisSugerir:#5F5E5E;
    --sombra: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --btnAceptar:#1AA438;
    --btnCancelar:#DD1313;
    --avisos:#FBF0F0;
}

header{
width: 100%;
background-color: var(--barraAside);
display: grid;
grid-template-columns: 124px 1fr 0.5fr;
height: 100%;

}

header .logoTecNM{
    display: flex;
    align-items: center;
    
}

header .logoTecNM figcaption{
color: white;
font-family: 'Buenard', serif;
font-size: 1.1rem;
background-color:var(--morado1) ;
border-radius: 2px;
border-top: 1px solid white;
border-right: 1px solid white;
border-bottom: 1px solid white;

}

header .logoTecNM img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--morado1);
    border: 1px  solid white;

}

header .logoHalcon{
    color: white;
    font-family: 'Aldrich', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header .logoHalcon img{
    width: 30px;
    height: 30px;
    
}
.head_botones{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    
}
.head_botones a:nth-child(1) img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
    
}
.head_botones a:nth-child(2) img{
    margin-right: 10px;
    cursor: pointer;
    
}
.menu_mobile{
    
    
    position: absolute;
    top: 0px;
    background-color: var(--barraAside);
    width: 180px;
    height: 100vh;
    display: flex;
    flex-direction: column;
   justify-content:flex-start;
   gap: 20px;
   border-radius: 3px;
   z-index: 1;
   box-shadow: var(--sombra);
   
}
.menu_mobile p{
    color: white;
    font-weight: 600;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: var(--blueComments);
    height: 40px;
    box-shadow: var(--sombra);
    
    padding: 10px;
}
.menu_mobile li{
    box-shadow: var(--sombra);
}
.notificaciones{
    position: absolute;
    top: 60.5px;
    background-color: var(--barraAside);
    width: 150px;
    height: 87.6vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
   border-radius: 2px;
   z-index: 1;
}

.notificaciones div{
    width: 96%;
    background-color: var(--avisos);
    display: flex;
    flex-direction: column;
    border-radius: 2px ;
    text-align: center;
    border: 1px solid white;
    box-shadow: var(--sombra);
    font-size: 1.3rem;
    font-weight: 500;
    box-shadow: var(--sombra);
    border-radius: 3px;

}
.notificaciones p:nth-child(1){
    color: white;
    font-weight: 600;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--blueComments);
    height: 35px;
    width: 145px;
    box-shadow: var(--sombra);
    padding: 10px;
}
.notificaciones div img{
    width: 25px;
    height: 25px;
    align-self: center;
}
.notificaciones input{
    align-self: flex-end;
    width: 65px;
    height: 22px;
    color: whitesmoke;
    background-color: var(--fondoTec);
    border: 1px solid white;
    box-shadow: var(--sombra);
    border-radius: 3px;

}

.opacar{
    opacity: 0.5;
}
nav {
    margin: 0 auto;
    /* margin-top: 6rem; */
    width: 90%;
    border-radius: 16px;
    margin-top: 10px;
  

}
nav ul li:hover{
background-color:var(--fondoTec);


}
nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 2.5rem;
}
nav ul li {
    width: 12rem;
    height: 3rem;
    
    border-bottom: 1px solid white;
    border-radius: 5px;
    text-align: center;
}
nav ul li a{
    color: white;
    font-size: 1.6rem;
    text-decoration: none;
    text-align: center;
}
nav ul li a img{
    width: 20px;
    height: 20px;
    margin-top: 4px;
    margin-right: 4px;
    
}
/*Estilos del Main--------------------------*/
main{
    
    width: 100%;
    background-color: var(--fondo);
    display: grid;
    grid-template-rows: .6fr 2fr 1.5fr;
    align-items: center;
    justify-items: center;

   
}
/*Estilos Sugerencias ---------------------------------------------*/
.Sugerir{
    border: 1px solid black;
    width: 95%;
    height: 300px;
    border-radius: 5px;
    border: 1px solid var(--barraAside);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow-y: scroll;
    overscroll-behavior-y: contain;
    scroll-snap-type:  y proximity;
    
   
}
.Sugerir .encabezado{
    background-color: var(--blueComments);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3vh;
    border-radius: 2px;
}
/* Estilos menu agregar sugerencias------------------------------ */
.formu_sugerencia{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 180px;
    background-color: var(--fondo);
    position: absolute;
    top: 150px;
    left: 20px;
    border-radius: 6px;
    border: 1px solid var(--blueComments);
    box-shadow: var(--sombra);
    text-align: center;
}
.contG_Sugerencias{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.contG_Sugerencias form{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 8px;
}
.contG_Sugerencias form input{
    width: 75%;
    height: 30px;
    border-radius: 5px;
    border: none;
    box-shadow: var(--sombra);
    text-align: center;
}
.contG_Sugerencias form button{
    background-color: white;
    border: none;
    width: 40px;
    height: 35px;
    border-radius: 20px;
    border: 2px solid var(--morado1);
}
.contG_Sugerencias form img{
    width: 20px;
    height: 20px;
}


.Sugerir .encabezado .formu_sugerencia p:nth-child(1){
    font-size: 1.6rem;
    color: var(--cardborder);
    margin-top: 5px;
}
.Sugerir .encabezado .formu_sugerencia p:nth-child(3){
    color: var(--grisSugerir);
    width: 75%;
    text-decoration: underline;
}

.formu_sugerencia input[type="text"]{
   width: 80%;
   height: 60px;
   border: 0.5px solid var(--blueComments);
   border-radius: 4px;
   text-align: center;
   font-size: 1.4rem;
   
}
.formu_sugerencia input[type="button"]{
    color: white;
    font-size: 1.2rem;
    border-radius: 4px;
    width: 70px;
    height: 22px;
    border: 1px solid white;
    box-shadow: var(--sombra);
    margin-top: 20px;
   


}
.boton{
    color: white;
    font-size: 1.4rem;
    border-radius: 4px;
    width: 80px;
    height: 25px;
    border: 1px solid white;
    box-shadow: var(--sombra);
    margin-top: 20px;
}
.formu_sugerencia input:nth-child(2){
    background-color: var(--btnAceptar);
    margin-right: 20px;
}
.formu_sugerencia input:nth-child(3){
    background-color: var(--btnCancelar)
}
/* Estilos menu sugerencia guardada ----------------------- */
.conten_msj{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--fondo);
    border-radius: 6px;
    border: 1px solid var(--blueComments);
    position: absolute;
    width: 80%;
    height: 120px;
    top: 290px;
    left: 30px;
}
.conten_msj .cuerpo_msj{
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--avisos) ;
    box-shadow: var(--sombra);
    
}
.Sugerir .conten_msj .cuerpo_msj p{
    font-size: 1.6rem;
    color: black;
}
.conten_msj .cuerpo_msj img{
    width: 35px;
    height: 35px;
}
.conten_msj  input[type="button"]{
    background-color: var(--btnAceptar);
    color: white;
    margin: 0;
    

}
/*Menu Inscripcion Exitosa -----------------------*/
.zona_tarjetas #inscribirme{
    position: absolute;
    min-width: 230px;
    height: 280px;
    left: 85px;
    border-radius: 2px;
    border: 1.5px solid var(--blueComments);
    z-index: 1;
    
}

.zona_tarjetas #inscribirme p{
    font-size: 1.6rem;
}

.zona_tarjetas #inscribirme .titulo_asesoria p {
width: 150px;
}
.zona_tarjetas #inscribirme .hora_asesoria p{
    width: 110px;
}
.zona_tarjetas #inscribirme img{
width: 25px;
height: 25px;
}
.zona_tarjetas #inscribirme .valor_prog{
    display: flex;
    flex-direction: column;
}
.zona_tarjetas #inscribirme .valor_prog div{
    align-self: center;
    
}
.zona_tarjetas #inscribirme .valor_prog div input:nth-child(1){
    background-color: var(--btnAceptar);
    margin-right: 10px;
}
.zona_tarjetas #inscribirme .valor_prog div input:nth-child(2){
    background-color: var(--btnCancelar);
}
.msj_confirm_inscript{
    /* display: flex; */
    font-size: 1.4rem;
    font-weight: bold;
}

.msj_confirm_inscript p{
    width: 60%;
}
.msj_confirm_inscript input:nth-child(2){
    background-color: var(--btnCancelar);
}
.msj_inscript{
   /*  display: flex; */
    font-size: 1.6rem;
    font-weight: bold;
}
.Sugerir .encabezado p{
    font-size: 1.3rem;
    color: white;
    font-weight: bold;
    margin-left: 5px;
    
}
.Sugerir .encabezado button{
    font-size: 1.1rem;
    color: white;
    font-weight: bold;
    width: 5.5rem;
    height: 1.8rem;
    background-color: var(--morado2);
    border-radius: 2px;
    border: 1px solid;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 5px;
}
.Sugerir article{
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    align-items: center;
    margin-top: 10px;
    gap: 0.8rem;
}
.Sugerir article p:nth-child(1){
    color: var(--blueComments);
    font-weight: 600;
}
.Sugerir div:nth-child(2) .msj{
    
display: flex;
width: 80%;
align-items: center;

}
.Sugerir div:nth-child(2) .msj img{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.Sugerir .cuerpo{
    display: flex;
    border-bottom: 1px solid var(--cardborder);
    border-radius: 5px;
    width: 95%;

}
.Sugerir .cuerpo div:nth-child(1){
width: 90%;
}
.Sugerir .cuerpo div:nth-child(2){
    display: flex;
    width: 20%;
   align-items: center;
   justify-content: space-around;
   

}
.Sugerir .cuerpo div:nth-child(2) img{
    
    width: 20px;
    height: 20px;
}
.Sugerir .cuerpo div:nth-child(2) p{
    width: 1.8rem;
    height: 1.8rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--blueComments);
    border: 1px solid var(--blueComments);
    border-radius: 8px;
    background-color: white;
    text-align: center;
    padding-top: 1px;
}

/*Estilos buscador ---------------------------------------------------*/
.form_busqueda{
    width: 98.5%;
    height: 160px;
    /* border: 1px solid #218CD9; */
    /* background-color: #00E1FF; */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form_busqueda div{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--sombra);
    border-top: 2px solid white;
    border-bottom: 2px solid whitesmoke;
    border-radius: 3px;
    width: 99.5%;
    height: 120px;
    
    background-color: #167dc7dd;
 
}
.form_busqueda div img{
    height:120px;
    
}
.form_busqueda div p{
    font-size: 1.6rem;
    text-align: center;
    color: whitesmoke;
    font-weight: bolder;
}
.form_busqueda form {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 8px;
    
    
}
.form_busqueda input[type="search"]{
  width: 85%;
  height: 30px;
  margin-right: 2px;
  border-radius: 8px;
  border: 2px solid var(--blueComments);
  font-size: 1.4rem;
  text-align: center;
  box-shadow: var(--sombra);
}

.form_busqueda button{
    background-color: white;
    color: white;
    height: 34px;
    width: 34px;
    border: 1px solid var(--blueComments);
    border-radius: 100%;
    box-shadow: var(--sombra);
    align-self: center;
    
}
.form_busqueda button img{
    width: 20px;
    height: 20px;
}
/*Estilos Tarjetas ---------------------------------------------------*/

 .multi_cards{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    gap: 35px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type:  x proximity;
    
    
    
}
.zona_tarjetas{
   
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
   
    /* display: none; */
    
}
.zona_tarjetas .separador{
    background-color: var(--morado1);
    display: inline-block;
    width: 30%;
    height: 22px;
    text-align: center;
    color: white;
    font-size: 1.6rem;
    box-shadow: var(--sombra);
    border: 2px solid white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.zona_tarjetas .one_card{
min-width: 170px;
max-width: 180px;
background-color: white;
height: 160px;
border-radius: 10px;
border: 1px solid var(--cardborder);
box-shadow: var(--sombra);
display: flex;
flex-direction: column;
justify-content: space-around;
scroll-snap-align: center;



}
.zona_tarjetas .one_card img{
width: 20px;
height: 20px;
border-radius: 20px;
border: 1px solid var(--morado2);

}
.zona_tarjetas .one_card figure img{
    border:  none;
    width: 16px;
    height: 16px;
}
.zona_tarjetas .one_card .titulo_asesoria{
    display: flex;
    align-items: center;
    margin-left: 3px;
}
.zona_tarjetas .one_card .titulo_asesoria p{
    font-size: 1.1rem;
    font-weight: bolder;
    border-top: 1px solid var(--morado2);
    border-bottom: 1px solid var(--morado2);
    border-right: 1px solid var(--morado2);
    border-radius: 4px;
    width: 100px;
    text-align: center;
}
.zona_tarjetas .one_card .datos_asesoria,.hora_asesoria{
    font-size: 1.2rem;
}
.zona_tarjetas .one_card .datos_asesoria{
    margin: 0 auto;
}
.zona_tarjetas .one_card .datos_asesoria p{
    margin-bottom: 2px;
}
.zona_tarjetas .one_card .datos_asesoria span{
    color: var(--blueComments);
    font-weight: 500;
    
}
.zona_tarjetas .one_card .hora_asesoria{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.1rem;
    font-weight: 500;
    justify-content: space-evenly;
    gap: 5px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.zona_tarjetas .one_card .hora_asesoria p{
    width: 80px;
    background-color: lightgray;
    border-radius: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.zona_tarjetas .one_card .valor_prog{

    display: flex;
    justify-content: space-around;
}
.zona_tarjetas .one_card .valor_prog p a{
    font-size: 1.2rem;
    font-weight: bolder;
    color: var(--blueComments);
    text-decoration: none;
}


/*Estilos footer -----------------------------------*/
footer{
    width: 100%;
    height: 100%;
    background-color: var(--barraAside);
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

footer .redes p{
    color:  white;
    font-size: 1.4rem;
    text-align: center;
}
footer .redes img{
    width: 23px;
    height: 23px;
    
}
footer .redes figure img{
    margin-right: 5px;
}



footer .contacto{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
footer .contacto div{
    display: flex;
    align-items: center;
    
} 
footer .contacto p{
    color: white;
    font-size: 1.4rem;

}
footer .contacto div p {
font-size: 1.0rem;
font-weight: bold;
color: var(--blueComments);
}
.inactive{
    display: none !important;
}

@media(min-width:700px) {
    .conten_msj{
        width: 300px;
        left: 350px;
        top: 400px;
    }
    .conten_msj .cuerpo_msj p{
        font-size: 1.5rem;
    }
    header{
        display: none;
    }
    h2{
        /*  margin-top: 2.4rem; */
         font-size: 2rem;
         text-align: center;
         background-color: var(--fondoTec);
         color: white;
         box-shadow: 5px 4px 5px rgba(20, 18, 18, 0.25);
     
     }
     body{
            grid-template-columns: 0.5fr 3fr;
            grid-template-rows:repeat(4,1fr);
            position: relative;
     }
     .content_aside{
        /* position: sticky; */
        /* top: 0; */
        
        display: grid;
        grid-template-rows: 25px 1fr 1fr 1fr;
        height: 100vh;
        row-gap: 40px;
    }
     aside{
         background-color: var(--barraAside);
         width: 100%;
         height: 100%;
         display: flex;
         flex-direction: column;
    
     }
     main{
         background-color: var(--fondo);
         height: 100%;
     }
     
     .imgLogo{
         display: flex;
         flex-direction: column;
         align-items: center;
         /* margin-top: 3rem; */
     }
     .imgLogo img{
         width: 70px;
         height: 70px;
         margin-bottom: 5px;
     }
     .imgLogo figcaption{
         
         font-size: 1.6rem;
         font-family: 'Aldrich', sans-serif;
         color: white;
     }
     
     nav {
         margin: 0 auto;
         /* margin-top: 6rem; */
         width: 70%;
         border-radius: 16px;
         border-top: 3px solid white;
         border-bottom:3px solid white;
         padding-top: 2rem;
         padding-bottom: 2rem;
     
     }
     nav ul li:hover{
     background-color:var(--fondoTec);
     
     
     }
     nav ul{
         display: flex;
         flex-direction: column;
         align-items: center;
         list-style: none;
         gap: 3.5rem;
     }
     nav ul li {
         width: 13rem;
         height: 3.5rem;
         border: 1px solid white;
         border-radius: 5px;
         text-align: center;
         box-shadow: var(--sombra);
     }
     nav ul li a{
         color: white;
         font-size: 1.8rem;
         text-decoration: none;
         text-align: center;
     }
     nav ul li a img{
         width: 20px;
         height: 20px;
         margin-top: 4px;
         margin-right: 4px;
         
     }
     .Our_Networks{
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 0.5rem;
         
     
     }
     .Our_Networks p{
         color:white;
         font-size: 1.6rem;
     
     }
     .Our_Networks img{
         width: 25px;
         height: 25px;
     }
     
     .Our_Networks .figimg {
        display:grid;
         grid-template-columns: repeat(4,1fr);
         gap: 1.2rem
         ;
     }
     .separador{
        margin-left: 10px;
     }
     .multi_cards{
        justify-items: center;
       
     }
.multi_cards{
    overflow-x: auto;
    
}
.zona_tarjetas {
    margin-left: 8px;
}
.zona_tarjetas .one_card{
    min-width: 200px;
    max-width: 210px;
    background-color: white;
    height: 190px;
    border-radius: 10px;
    border: 1px solid var(--cardborder);
    box-shadow: var(--sombra);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    scroll-snap-align: center;
    
    
    
    }
    .zona_tarjetas .one_card img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid var(--morado2);
    
    }
    .zona_tarjetas .one_card figure img{
        border:  none;
        width: 16px;
        height: 16px;
    }
    .zona_tarjetas .one_card .titulo_asesoria{
        display: flex;
        align-items: center;
        margin-left: 3px;
    }
    .zona_tarjetas .one_card .titulo_asesoria p{
        font-size: 1.4rem;
        font-weight: bolder;
        border-top: 1px solid var(--morado2);
        border-bottom: 1px solid var(--morado2);
        border-right: 1px solid var(--morado2);
        border-radius: 4px;
        width: 160px;
        height: 20px;
        text-align: center;
    }
    .zona_tarjetas .one_card .datos_asesoria, .hora_asesoria{
        font-size: 1.5rem;
    }
    .zona_tarjetas .one_card .datos_asesoria{
        margin: 0 auto;
    }
    .zona_tarjetas .one_card .datos_asesoria p{
        margin-bottom: 2px;
    }
    .zona_tarjetas .one_card .datos_asesoria span{
        color: var(--blueComments);
        font-weight: 500;
        
    }
    .zona_tarjetas .one_card .hora_asesoria{
        display: flex;
        flex-wrap: wrap;
        font-size: 1.4rem;
        font-weight: 500;
        justify-content: space-evenly;
        gap: 5px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
    .zona_tarjetas .one_card .hora_asesoria p{
        width: 95px;
        background-color: lightgray;
        border-radius: 4px;
        margin-top: 2px;
        margin-bottom: 2px;
    }
    .zona_tarjetas .one_card .valor_prog{
    
        display: flex;
        justify-content: space-around;
    }
    .zona_tarjetas .one_card .valor_prog p a{
        font-size: 1.5rem;
        font-weight: bolder;
        color: var(--blueComments);
        text-decoration: none;
    }

    .zona_tarjetas .one_card .valor_prog img{
        width: 18px;
        height: 18px;
    }
    .zona_tarjetas #inscribirme{
        left: 300px;
    }
    footer{
        display: none;
    }

}


/* Estilos para tableta */
@media(min-width:1024px){
header{
    display: none;
}
footer {
    display: none;
}
.zona_tarjetas .separador{
    background-color: var(--morado1);
    display: inline-block;
    width: 25%;
    height: 28px;
    text-align: center;
    color: white;
    font-size: 1.8rem;
    box-shadow: var(--sombra);
    border: 2px solid white;
    margin-top: 10px;
    margin-bottom: 10px;
}
.zona_tarjetas {
    margin-left: 8px;
}
.zona_tarjetas .one_card{
    min-width: 260px;
    max-width: 280px;
    background-color: white;
    height: 260px;
    border-radius: 10px;
    border: 1px solid var(--cardborder);
    box-shadow: var(--sombra);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    scroll-snap-align: center;
    
    
    
    }
    .zona_tarjetas .one_card img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--morado2);
    
    }
    .zona_tarjetas .one_card figure img{
        border:  none;
        width: 16px;
        height: 16px;
    }
    .zona_tarjetas .one_card .titulo_asesoria{
        display: flex;
        align-items: center;
        margin-left: 3px;
    }
    .zona_tarjetas .one_card .titulo_asesoria p{
        font-size: 1.8rem;
        font-weight: bolder;
        border-top: 1px solid var(--morado2);
        border-bottom: 1px solid var(--morado2);
        border-right: 1px solid var(--morado2);
        border-radius: 4px;
        width: 160px;
        height: 25px;
        text-align: center;
    }
    .zona_tarjetas .one_card .datos_asesoria,.hora_asesoria{
        font-size: 1.9rem;
    }
    .zona_tarjetas .one_card .datos_asesoria{
        margin: 0 auto;
    }
    .zona_tarjetas .one_card .datos_asesoria p{
        margin-bottom: 2px;
    }
    .zona_tarjetas .one_card .datos_asesoria span{
        color: var(--blueComments);
        font-weight: 500;
        
    }
    .zona_tarjetas .one_card .hora_asesoria{
        display: flex;
        flex-wrap: wrap;
        font-size: 1.8rem;
        font-weight: 500;
        justify-content: space-evenly;
        gap: 5px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
    .zona_tarjetas .one_card .hora_asesoria p{
        width: 120px;
        background-color: lightgray;
        border-radius: 4px;
        margin-top: 2px;
        margin-bottom: 2px;
    }
    .zona_tarjetas .one_card .valor_prog{
    
        display: flex;
        justify-content: space-around;
    }
    .zona_tarjetas .one_card .valor_prog p a{
        font-size: 1.7rem;
        font-weight: bolder;
        color: var(--blueComments);
        text-decoration: none;
    }

    .zona_tarjetas .one_card .valor_prog img{
        width: 22px;
        height: 22px;
    }
    .contG_Sugerencias{
        width: 100%;
    }
    .zona_tarjetas #inscribirme{
        left: 400px;
        top: 350px;
    }
    .Sugerir{
        height: 400px;
    }
    .Sugerir .content_article{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}